@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NEXON Lv1 Gothic OTF';
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    background: #333;
    width: 100%;
    height: 100svh;
    max-width: 480px;

    display: flex;
    flex-direction: column;
}

.overview {
    width: 100%;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 14px;
    color: #fff;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;
    -webkit-tap-highlight-color: transparent !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0;
    -webkit-tap-highlight-color: transparent !important;
}

.swiper-slide {
    width: 100%;
    min-height: 100px;
    background: #222;
    color: #fff;
    position: relative;
    padding: 20px;
}

.continuityDay {
    position: relative;
    line-height: 1.3;
}

.swiper-slide > div {
    padding: 10px 0;
}

.swiper-slide > div + div {
    border-top: 1px solid #888;
}

.point {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 12px;
}

.train_date_block {
    padding: 15px;
    border: 1px solid #666;
}

section {
    padding: 20px;
}

.list_section {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding: 0;
}

.list_section > .row {
    margin-top: auto;
    flex-shrink: 0;
}

.data_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    padding: 20px;
}

.data_list::-webkit-scrollbar {
  display: none;
}

.data_list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.data_list li .date {
    font-size: 11px;
    color: #fff;
    line-height: 1;
    margin-bottom: 10px;
}

.data_list li .row {
    display: flex;
    font-size: 12px;
    color: #fff;
    flex-wrap: wrap;
}

.data_list li .row + .row {
    margin-top: 10px;
}

.data_list li .row .train_name,
.data_list li .row .train_goal {
    width: 25%;
}

.my_data {
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    color: #fff;
    background: #000;
}

.gage {
    width: 50%;
    height: 3px;
    background: #555;
    position: relative;
    overflow: hidden;
    margin-top: 8px;
}

.gage_inner {
    position: absolute;
    top: 0;
    width: 0;
    background: #51f3a1;
    height: 100%;
}

.float_pannel {
    position: fixed;
    bottom: -100%;
    width: 100%;
    max-width: 480px;
    min-height: 240px;

    padding: 20px;
    color: #fff;
    background: #222;
    border-radius: 20px 20px 0 0;
    transition: bottom 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
}

.float_pannel.on {
    bottom: 0;
}

.float_pannel .row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.float_pannel .row .title {
    width: 25%;
    font-size: 12px;
}

.float_pannel .row button {
    border: none;
    background: #111;
    color: #fff;
    width: 48px;
    height: 42px;
    cursor: pointer;
}

.float_pannel .row button.reset {
    background: #8c1717;
    margin-left: auto;
}

.float_pannel .row + .row {
    margin-top: 10px;
}

.drop_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.down_btn {
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    transform-origin: center;
    position: relative;
    bottom: 15px;
}

.up_btn {
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
}

.infor {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
    gap: 5px;
}

.infor p {
    display: flex;
    gap: 10px;
    width: 100%;
}

.infor p span {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    white-space: nowrap;
}

.infor p span:first-child {
    width: auto;
}

.float_pannel input[type='number'] {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    padding: 5px;
    color: #fff;
}

.float_pannel input[type='number']:focus {
    outline: none;
}

.sub_span {
    font-size: 9px;
    margin-left: 10px;
    color: #ddd;
    gap: 2px;
}

i {
    font-style: normal;
    font-size: 6px !important;
    position: relative;
    top: -1px;
}

.today_goal {
    display: flex;
    gap: 20px;
}

.today_goal ul {
    min-height: 100px;
}

.today_goal > * {
    width: 100%;
}

.today_goal p {
    width: 40%;
    font-size: 12px;
    margin-bottom: 5px;
}

.today_goal li {
    list-style: none;
    font-size: 11px;
}

.today_goal li + li {
    margin-top: 5px;
}

.today_goal li::before {
    content: '- ';
    font-size: 8px;
}

header {
    padding: 0 20px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    font-size: 13px;
}

header span:last-child {
    width: 24px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header span:last-child span {
    width: 100%;
    height: 2px;
    background: #fff;
}

.button_group {
    display: flex;
    overflow: hidden;
    border-radius: 100px;
    width: 100%;
}

.button_group button {
    width: 100% !important;
}

.button_group button + button {
    border-left: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.last_button_wrap {
  padding: 20px;
  background: #222;
}